# ==========================
#  Python & Virtual Envs
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ==========================
#  Docker & Airflow
# ==========================
logs/
*.log
dags/__pycache__/
dags/*.pyc
dbt_packages/
target/
.airflowenv/
.airflow/
.airflowignore

# ==========================
#  Databases (MySQL & MongoDB)
# ==========================
data/mysql/
data/mysql/*.sock
data/mysql/mysql.sock
data/mongo/
data/mongo/*
data/mongo/.mongodb/
data/mongo/diagnostic.data/
data/mongo/journal/

# ==========================
#  Data Files
# ==========================
*.csv
*.json
*.parquet
*.duckdb

# ==========================
#  System / Editor Files
# ==========================
.DS_Store
Thumbs.db
.vscode/
.idea/
