# Data Ingestion
pandas>=2.0.0
mysql-connector-python>=8.0.0
pymongo>=4.0.0
beautifulsoup4>=4.12.0
emoji>=2.10.0
python-dotenv>=1.0.0

# Transformation
duckdb>=0.10.0
dbt-duckdb>=1.8.0

# Visualization
dash>=2.17.0
plotly>=5.22.0